<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table id="task_list">
        <thead>
            <tr>
                <th colspan="4">Liste : <%= tasks[0].name %></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Terminer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <% let count = 1;
            tasks.forEach((task) => { %>
                <tr>
                    <td>
                        <%= `${count}`%>
                    </td>
                        <% count+=1 %>
                    <td>
                        <a href=" <%= ` /task/${task.id} ` %> "><%= `${task.description}` %></a>
                    </td>
                    <td>
                        <% if (task.done) { %>
                            <img src="/images/check.png" alt="Check" style="width: 25px;"> 
                        <%}
                        else { %>
                            <img src="/images/not_check.png" alt="Not Check" style="width: 25px;"> 
                        <% } %>
                    </td>
                    <td>
                        <form action= "<%= `/task_lists/${tasks[0].id}/task/${task.id}/delete` %>", method="get">
                            <input type="submit" formmethod="delete" value="Supprimer" />
                        </form>
                    </td>
                </tr>
                <% }) %>
                <tr>
                    <td> ... </td>
                    <form action="<%= ` /task_lists/${tasks[0].id}/tasks ` %>" method="POST">
                    <td colspan="2">
                        <label for="description"> Description de la nouvelle tâche:</label>
                        <br>
                        <input type="text" name="description", maxlength="500" />
                    </td>
                    <td>
                        <input type="submit" value="Ajouter"/>
                    </td>
                      </form>
                </tr>
        </tbody>
    </table>
</body>
</html>